<div class="animated fadeIn">   
    <h1>Sobre ComicApp</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero rerum placeat atque, maxime consequuntur exercitationem accusamus consectetur magni tenetur aliquam incidunt quasi beatae quaerat provident minus, quo eos natus recusandae?
    </p>
</div>