<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">ComicApp</h1>
        <p class="lead">Una aplicación de comics.</p>
    </div>
</div>