<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">


  <app-heroe-tarjeta  (heroeSeleccionado)="verHeroe($event)" *ngFor="let heroe of heroes; let i = index;" [heroe]="heroe" [index]="i" ></app-heroe-tarjeta>

    <!-- <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index;">
    --- src="{{heroe.img}}" //tambien funciona---
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted"> {{ heroe.aparicion }} </small></p>

    --- <a class="btn btn-outline-primary btn-block" [routerLink]="['/heroe',i]">Ver más Link</a> ---
          <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más</button>
        </div>
    </div> -->

</div>