<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No exiten resultados con: <b>{{ termino }}</b>
        </div>
    </div>
</div>   

<div class="card-columns"> 

    <app-heroe-tarjeta *ngFor="let heroe of heroes; let i = index;" [heroe]="heroe" [heroe]="heroe" [index]="heroe.idx" ></app-heroe-tarjeta>

</div>