<h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion  | date:'y'}})</small> </h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br>
        <br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md 8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>

        <p>
            {{ heroe.bio }}
        </p>

        <div>
            <img [src]="(heroe.casa==='Marvel')?'assets/img/marvel.png':'assets/img/dc.png'" class="img-fluid" width="200" height="200" [alt]="heroe.casa">
        </div>
    </div>
</div>